/* styling applied to all pages */

body {
    margin:0;
    color: rgb(0, 0, 0);
}

html {
    background-color: rgb(249, 249, 249); /*sets bg colour for the whole page, all pages*/
    /*margin: auto 5%;*/
    scroll-behavior: smooth; /*makes jump links scroll smoothly instead of jumping*/
}

hr {
    border: 1px dashed;
    position: sticky;
}

.back-to-top {
    position: sticky;
    bottom: 0;
    text-align: center;
    width: auto;
}

/* TYPOGRAPHY */

.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  

h1 {
    font-family: "DotGothic16", sans-serif;
    font-size: 1.3rem;
    line-height: 100%;
    margin-bottom: 0;
}

a {
    font-family: "DotGothic16", sans-serif;
    font-size: 1.1rem;
    line-height: 150%;
    color: rgb(5, 93, 48);
    text-decoration: none;
}

a:hover {
    background-color: rgb(5, 93, 48);
}

p {
    font-family: "Helvetica Neue";
    font-size: 1rem;
    line-height: 130%;
}

@media only screen and (max-width:500px) {
    a {
        font-family: "DotGothic16", sans-serif;
        font-size: 1rem;
        line-height: 150%;
    }

    h1 {
        font-family: "DotGothic16", sans-serif;
        font-size: 1.1rem;
        line-height: 120%;
    }
    
    p {
        font-family: "Helvetica Neue";
        font-size: 0.8rem;
        line-height: 130%;
    }
}

/* navigation bar */

header {
    position: fixed;
    top: 0;
    width: 100%;
    /*z index 2 so the navigation bar will go over everything */
}

.main-nav {
    margin: 0 3%;
    padding: 0;
    list-style: none;
  
    display: flex;
  }
  
.main-nav a {
    padding: 0.5em 0;
    display: block;
    /*text-decoration: none;*/
  }
  
.push {
    margin-left: auto;
  }

.clock {
    text-align: center;
    margin: 0.5em 0;
}

  @media only screen and (max-width:400px) {
    .clock {
        display: none;
    }




  }




  /* footer */

  footer {
    position: sticky;
    margin: 0;
    background-color: rgb(63, 29, 29);
  }



/* PROJECTS PAGE */

/* intro section */

.intro {
    margin: 1vh 3% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1%;
    align-items: baseline; /* aligns text to baseline */

}

.intro ul {
    padding: 0;
    list-style-type: none;
}

@media only screen and (max-width:750px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr;
        margin: 5vh 3% auto;

    }
}


/* projects section */

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 3%;
    row-gap: 5%;
    column-gap: 1%;
}

.project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline; /* aligns text to baseline */
    column-gap: 4%;
}

img {
    height: auto;
    width: 100%;
}

@media only screen and (max-width:750px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 1%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width:1000px) {
    .project-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

/* project page */

.project-title h1 {
    margin-top: 6vh;
    text-align: center;
}


.project-grid {
    margin: 3% 20%;
}

.project-grid div {
    margin-bottom: 5%;
}

@media only screen and (max-width:800px) {
    .project-title h1 {
        margin-top: 8vh;
    }

    .project-grid {
        margin: 3% 3%;
    }
}

.control-container {
    background-color: rgb(249, 249, 249);
    position: sticky;
    bottom: 0;
    height: 4vh;
}

.bottom-controls {
    display: flex;
    align-items: center;
    height: 4vh;
    margin: auto 3% auto;
    position: sticky;
}

@media only screen and (max-width:500px) {
    #top-button {
        display: none;
    }
  }

  @media only screen and (max-width:300px) {
    .control-container { 
        position: relative;
    }

  }


