/* styling applied to all pages */

body {
    margin:0;
    color: rgb(0, 0, 0);
}

html {
    background-color: rgb(249, 249, 249); /*sets bg colour for the whole page, all pages*/
    /*margin: auto 5%;*/
    scroll-behavior: smooth; /*makes jump links scroll smoothly instead of jumping*/
}

hr {
    border: 1px dashed;
}

.back-to-top {
    position: sticky;
    bottom: 0;
    text-align: center;
    width: auto;
}

/* TYPOGRAPHY */

.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

h1 {
    font-family: "Instrument Serif", serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 0;
}

h2 {
    font-family: "Instrument Serif", serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 0;
}

a {
    font-family: "Instrument Serif", serif;
    font-size: 1.8rem;
    line-height: 120%;
    color: rgb(5, 93, 48);
    text-decoration: none;
}

a:hover {
    /*background-color: rgb(5, 93, 48);*/
    /*text-decoration: underline;*/
    font-style: italic;
}

p {
    font-family: "Helvetica Neue";
    font-size: 1rem;
    line-height: 130%;
}

li {
    font-family: "Helvetica Neue";
    font-size: 1rem;
    line-height: 130%;
}

figcaption {
    font-family: "Helvetica Neue";
    font-size: 0.8rem;
    line-height: 130%;
}

@media only screen and (max-width:500px) {
    a {
        font-size: 1.5rem;
        line-height: 100%;
    }

    .clock {
        font-size: 1.5rem;
        line-height: 100%;
    }

    h1 {
        font-size: 1.8rem;
        line-height: 120%;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 100%;
        margin-bottom: 0;
    }
    
    p {
        font-size: 0.8rem;
        line-height: 130%;
    }

    li {
        font-size: 0.8rem;
        line-height: 130%;
    }

    figcaption {
        font-size: 0.6rem;
        line-height: 130%;
    }
}

/* navigation bar */

header {
    position: fixed;
    top: 0;
    width: 100%;
    /*z index 2 so the navigation bar will go over everything */
}

.main-nav {
    margin: 0 3%;
    padding: 0;
    list-style: none;
  
    display: flex; 
  }
  
.main-nav a {
    padding: 0.5em 0;
    display: block;
    /*text-decoration: none;*/
  }
  
.push {
    margin-left: auto;
  }

.clock {
    font-family: "Instrument Serif", serif;
    font-size: 1.8rem;
    line-height: 120%;
    color: rgb(5, 93, 48);

    padding: 0.5em 0;
    text-align: center;
}

  @media only screen and (max-width:500px) {
    .clock {
        display: none;
    }
  }




  /* footer */

  footer {
    position: sticky;
    margin: 0 3% 0;
    display: flex;
    justify-content: space-between;
    column-gap: 50%;
  }


/* PROJECTS PAGE */

/* intro section */

.intro {
    margin: 0 3% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1%;
    align-items: baseline; /* aligns text to baseline */

}

.intro ul {
    padding: 0;
    list-style-type: none;
}

.intro a {
    font-size: 1.5rem;
}

.colophon {
    margin: 1vh 3% auto;
}

@media only screen and (max-width:750px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto 3% auto;

    }
}

@media only screen and (max-width:500px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr;
        margin: 10% 3%;

    }
}



/* projects section */

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 3%;
    row-gap: 2%;
    column-gap: 1%;
}

.project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline; /* aligns text to baseline */
    column-gap: 4%;
}

img {
    height: auto;
    width: 100%;
}

@media only screen and (max-width:750px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 1%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width:1000px) {
    .project-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 5%;
    }

}

/* INFO PAGE */

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 3%;
    row-gap: 5%;
    column-gap: 1%;
}

.info ul {
    list-style: none;
    padding: 0;
}


@media only screen and (max-width:750px) {
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:500px) {
    .info {
        display: block;
    }
}



/* PROJECT PAGE TEMPLATE */

.project-title h1 {
    margin-top: 6vh;
    text-align: center;
}


.project-grid {
    margin: 3% 20%;
}

.project-grid a {
    font-size: 1.2rem;
}



.project-grid div {
    margin-bottom: 3%;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
}

.three-column {
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
}

@media only screen and (max-width:800px) {
    .project-title h1 {
        margin-top: 8vh;
    }

    .project-grid {
        margin: 3% 3%;
    }

    .two-column {
        display: block;
    }

    .two-column img {
        margin-bottom: 3%;
    }

    .three-column {
        display: block;
    }

    .three-column img {
        margin-bottom: 3%;
    }

}

figure {
    margin: 0;
}

.control-container {
    background-color: rgb(249, 249, 249);
    position: sticky;
    bottom: 0;
    height: 5vh;
}

.bottom-controls {
    display: flex;
    align-items: center;
    height: 5vh;
    margin: auto 3% auto;
    position: sticky;
}

.bottom-controls a {
    font-size: 1.5rem;
}

@media only screen and (max-width:500px) {
    #top-button {
        display: none;
    }

    .bottom-controls a {
        font-size: 1.2rem;
    }
  }

  @media only screen and (max-width:300px) {
    .control-container { 
        position: relative;
    }

  }


.tableauPlaceholder {
    margin: 3%;
    margin-left: 10%;
}